@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.title-txt{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color:#43948a;
    font-weight: 800;
    letter-spacing: -2px;
}

.medium-txt{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 200;
    letter-spacing: -2px;
}

#notification {
    position: absolute;
    right: 0;
    margin-right: 2em;
    
}

#notification-status-message {
    height: 1.5em;
    width: 1.5em;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

#notification-status-none{
    height: 1.5em;
    width: 1.5em;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.notification-icon{
    color: white;
    font-size: 1.5em;
}
.medium-txt-black{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 200;
    letter-spacing: -2px;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: white;
}
  
::-webkit-scrollbar-thumb {
    background: #61A3FF;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button {
    background-color: #ce5b56;
    padding: 0.5em;
    border: none;
}

a {
    color: white;
}
  
.small-txt{
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.search-container{
  position: absolute;
  top: 45%;
  left: 40%;
  margin: -25px 0 0 -25px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    z-index: 5;
}

.nav-bg{
    background-color: #2C4973;
    
}

.control-bar-bg{
    background-color: #4472B2;
}

.nav-icon {
    font-size: 2em;
}

.button-text {
    margin-top: 3em;
    font-size: 36px;
}


.form-control {
    display: block;
    line-height: 1.5;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid lightgray;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: black;
}

.search-button {
    background-color: #ce5b56;
}


.navbar-nav { 
    margin-right: 3em;
}

.carousel-container{
    max-height: 60vh;
    position: relative;
    overflow: hidden;
}

.c-img {
    width: 100%;
}


.listing-info-container {
    border-radius: 1em;
    position: relative;
    height: 25em;
}

.listinging-image-container {
    width: 100%;
    height: 25em;
    overflow: hidden;
    position: relative;
    background-color: #5C9BF2;
}

.listing-info{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left:0;
    right:0;
    background-color: white;
}

.listing-image-details {
    width: 100%;
}

.create-listing-form{
    background-color: white;
}


.listing-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left:0;
    right:0;
}

.content-bg{
    background-color: #61A3FF;
}

.breaker {
    border-top: 3px solid transparent;
}

body {
    background-color: #528AD9;
}

#message-popup {
    background-color: green;
}

#profile-image{
    border-radius: 50%;
    border:3px solid #528ad9;
}

#profile-image-default{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:3px solid #528ad9;
}

.title-breaker{
    border:2px solid #528ad9;
}



.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: white;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}
