.header-container{
    position: relative;
}
a {
    color: black;
}

.search-container{
  position: absolute;
  top: 45%;
  left: 40%;
  margin: -25px 0 0 -25px;
}

.nav-container{
    z-index: 5;
}

.nav-bg{
    background-color: #C6AF8Fff;
    border-radius: 0.5em;
}

.nav-icon {
    font-size: 2em;
}

/* #E8D6BEff;
 #E9E8E4ff;
 #D4D38Eff;
#C6AF8Fff;
 #A88975ff;
*/

#search-spinner{
    border: 40px solid #f3f3f3; /* Light grey */
    border-top: 40px solid red; /* Blue */
    border-radius: 50%;
    width:25em;
    height: 25em;
    animation: spin 1s cubic-bezier(0.1,0.4,0.5,0.7) infinite;
}

.button-text {
    margin-top: 3em;
    font-size: 36px;
}
.spin-button {
    width:100%;
    height: 100%;
    border-radius: 50%;
    color: white;
}


.form-control {
    display: block;
    line-height: 1.5;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid lightgray;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: black;
}

.search-button {
    background-color: lightgray;
}
.footer-style {
    background-color: #A88975ff;
    font-size: 20px;
}

.button-colour {
    background-color: white;
}

.navbar-nav { margin-right: 3em;}
.carousel-container{
    max-height: 65vh;
    position: relative;
    overflow: hidden;
}

.c-img {
    width: 100%;
    margin-top: -25vh;
}

.listing-image {
    width: 100%;
    margin-top: -25vh;
}

.listing-image:hover {
    transform: scale(1.2);
}

.small-font {
    font-size: 1em;
    color: black;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.listing-container {
    background-color: #d3d3d3;
}

.listinging-image-container {
    width: 100%;
    height: 25em;
    overflow: hidden;
}

.second-nav{ 
    height: 3em;
}

.listing-image-details {
    width: 100%;
}