{% extends "base.html" %}
{% load static %}





{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2>Checkout</h2>
        </div>
        <div class="row">
            <h3>Complete the checkout form for delivery infomation</h3>
        </div>
        <form actions="{% url 'checkout:checkout' %}" method="POST" id="payment-form">
            <span>Payment Amount <strong>${{ grand_total|floatformat:2 }}</strong></span>
            {% csrf_token %}
            {{ form.as_p }}
            <div id="card-element"></div>
            <button id="submit-btn">
            </button>
            <p id="card-errors" role="alert"></p>
            </p>
        </form>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'scripts/stripe-managements.js' %}"></script>
{% endblock %}