<h2>Edit Profile Information</h2>
<div class="container-fluid text-center create-listing-form">
    <form method="POST" action="{% url 'user_profiles:edit_profile_info' usersInfomation.id %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <h3><strong>Phone Number:</strong></h3>
                {{form.phone_number}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><strong>Street Address:</strong></h3>
                {{form.address}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><strong>postcode:</strong></h3>
                {{form.postcode}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><strong>County:</strong></h3>
                {{form.county}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><strong>Country:</strong></h3>
                {{form.country}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn" type="submit">Submit</button>
            </div>
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
        </div>
    </form>
</div>