{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row text-center">
        <div class="col-12">
            <h2>{{request.user}}'s Account</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href = "{% url 'user_profiles:create_profile_info' %}">
                <div class="btn">Add/edit details</div>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href = "{% url 'user_settings:create_settings' %}">
                <div class="btn"><i class="fa-solid fa-gear"></i></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href="#">
                <div class="btn"> View orders </div>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'store:get_sellers_listings' %}">
                <div class="btn">My store</div>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'store:get_favourite' %}">
                <div class="btn">Saved</div>
            </a>
        </div>
    </div>
{% endblock %}