{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
            Welcome back {{request.user}}
            </h1>
        </div>
    </div>
    <div class="row">
            <div class="col-12 text-center">
                <button><a href="{% url 'store:all_listings' %}">Shop Now</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}