{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <button id="back-button">Back to results</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <h2>
                <strong>Product:</strong>
                {{listing.title}}
            </h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <div class="">
                <img class="listing-image-details" src="{{listing.product_image.url }}" alt="{{listing.title}}">
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid listing-info">
                <div class="row">
                    <div class="col-12 mb-3"> 
                        <h3><strong>Description:</strong></h3>
                        <p>
                            {{listing.description}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>
                            <strong>Price:</strong>
                            £{{listing.price}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3> <strong> Condition:</strong>
                            {{listing.condition}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>
                            <strong>Catagory:</strong>
                            {{listing.catagory}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>
                            <strong>Quantity In Stock:</strong>
                            <span id="quantity-stock">
                                {{listing.stock}}
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 mb-2">
                        <h6>
                            <strong>Listed Time:</strong>
                            {{listing.listedtime}}
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h6>
                            <strong>Seller:</strong>
                            {{listing.sellerID}}
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <form class="form" action="{% url 'basket:add_to_basket' listing.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="{{ listing.quantity }}" data-item_id="{{ listing.id }}" id="id_qty_{{ listing.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'store:all_listings' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Basket" >
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    {% if request.user.is_authenticated %}
                    </form>
                    {% if favourite %}
                    <div class="col-6 mb-2 text-center">
                        <a href="{% url 'store:favourite_listing' listing.id %}"><i class="fa-solid fa-heart icon-heart-full"></i></a>
                    </div>
                    {% else %}
                    <div class="col-6 mb-2 text-center">
                        <a href="{% url 'store:favourite_listing' listing.id %}"><i class="far-sharp fa-regular fa-heart icon-heart-empty"></i></a>
                    </div>
                </div>
                    {% endif %}
                {% endif %}
                {% if request.user == listing.sellerID %}
                <div class="row">
                    <div class="col-6 mb-2 text-center">
                        <button><a class="text-danger" href="{% url 'store:delete_listing' listing.id %}">Delete</a></button>
                    </div>
                    <div class="col-6 mb-2 text-center">
                        <button><a class="text-danger" href="{% url 'store:edit_listing' listing.id %}">Edit</a></button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}