{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <button id="back-button">Back to results</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <h2>
                <strong>Product:</strong>
                {{listing.title}}
            </h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <div class="listinging-image-container">
                <img class="listing-image-details" src="{{listing.product_image.url }}" alt="{{listing.title}}">
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-3"> 
                        <h3><strong>Description:</strong></h3>
                        <p>
                            {{listing.description}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>
                            <strong>Price:</strong>
                            £{{listing.price}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3> <strong> Condition:</strong>
                            {{listing.condition}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>
                            <strong>Catagory:</strong>
                            {{listing.catagory}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>
                            <strong>Quantity In Stock:</strong>
                            {{listing.stock}}
                        </h3>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 mb-2">
                        <h6>
                            <strong>Listed Time:</strong>
                            {{listing.listedtime}}
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <h6>
                            <strong>Seller:</strong>
                            {{listing.sellerID}}
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mb-2 text-center">
                        <button>Add to basket</button>
                    </div>
                    {% if favourite %}
                    <div class="col-4 mb-2 text-center">
                        <a href="{% url 'store:favourite_listing' listing.id %}"><i class="fa-solid fa-heart icon-heart-full"></i></a>
                    </div>
                    {% else %}
                    <div class="col-4 mb-2 text-center">
                        <a href="{% url 'store:favourite_listing' listing.id %}"><i class="far-sharp fa-regular fa-heart icon-heart-empty"></i></a>
                    </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="col-2 mb-2 text-center">
                        <button><a class="text-danger" href="{% url 'store:delete_listing' listing.id %}">Delete</a></button>
                    </div>
                    <div class="col-2 mb-2 text-center">
                        <button><a class="text-danger" href="{% url 'store:edit_listing' listing.id %}">Edit</a></button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}