{% extends "base.html" %}
{% load static %}
{% block content %}
    {% for settings in seller_settings %}
    <div class="container-fluid text-center" style="background-color:{{settings.store_background}};">
        <hr class="breaker">
        {% load thumbnail %}
        <a href="{{ settings.profile_picture.url }}">
            <img src='{% thumbnail settings.profile_picture 300x300 crop %}' alt="users profile picture" id="profile-image" class="mt-2 mb-2">
        </a>
        <hr class="title-breaker">
        <h2 class="title-txt"><strong>{{ settings.user }}'s Store</strong></h2>
        <hr class="breaker">
    </div>
    {% empty %}
    <div class="container-fluid text-center" style="background-color:white;">
        <hr class="breaker">
        <img src='https://images.pexels.com/photos/4194850/pexels-photo-4194850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2' alt="users profile picture" id="profile-image-default" class="mt-2 mb-2">
        <hr class="title-breaker">
        <h2 class="title-txt"><strong>{{ request.user }}'s Store</strong></h2>
        <hr class="breaker">
    </div>
    {% endfor %}
    <div class="row">
        {% for listing in sellers_listings %}
            {% if listing.sellerID == request.user %}
            <div class="container-fluid content-bg">
                <div class="row">
                    <div class="col-md-6 col-sm-12 p-0">
                        <div class="listinging-image-container text-center">
                            {% load thumbnail %}
                            <a href="{{ listing.product_image.url }}">
                                <img src='{% thumbnail listing.product_image 400x0 target="20,10" %}' alt="{{ listing.title }}" class="listing-image">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12" >
                        <div class="listing-info-container pb-3 medium-txt-black">
                            <div class="listing-info">
                                <div class="row pb-2 ml-3 mt-3">
                                    <div class="col-12">
                                        <h3> {{ listing.title }}</h3>
                                    </div>
                                </div>
                                <div class="row pt-3 ml-3">
                                    <div class="col-12">
                                        <h5> Condition: {{ listing.condition }}</h5>
                                    </div>
                                </div>
                                <div class="row pt-3 ml-3">
                                    <div class=col-12> <h5> Price: £{{ listing.price }}</h5></div>
                                </div>
                                <div class="row pt-3 ml-3">
                                    <div class="col-12">
                                        <h5> Quantity in stock: {{ listing.stock }}</h5>
                                    </div>
                                </div>
                                <div class="row pt-3 ml-3">
                                    <div class="col-12">
                                        <h5> Seller: {{ listing.sellerID }}</h5>
                                    </div>
                                </div>
                                <div class="row pt-3 ml-3">
                                    <div class="col-12">
                                        <a href="{% url 'store:listing_details' listing.id  %}"><button>View</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="breaker">
            {% endif %}
        {% endfor %}
    </div>
        <div class=container-fluid>
            <div class="row">
                <div class="col-12">
                    <p>Not seeing any listings?<a href="{% url 'store:add_listing' %}">click here</a> to to create one</p>
                </div>
            </div>
        </div>
{% endblock %}