{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid padding">
        <h3 class="text-center">Complete the checkout form for your delivery infomation</h3>
        <form actions="{% url 'checkout:checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="card-element"></div>
            <div class="text-center mt-2 mb-2">
                <button type="submit" class="btn button-style btn-lg mb-2" id="submit-btn">Secure Checkout</button>
            </div>
            <p id="card-errors" role="alert"></p>
            </p>
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
        </form>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'scripts/stripe-managements.js' %}"></script>
    <script src="{% static 'scripts/form-scripts.js' %}"></script>
{% endblock %}