{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid text-center secondary-content-colour mt-2">
        <h2>Create Product</h2>
        <form method="POST" action="{% url 'catalog:edit_product' product.id %}" class="form mb-2 text-center" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="col-12">
                    <button class="btn" type="submit">Submit</button>
            </div>
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
            </div>
        </form>
    </div>
{% endblock %}