{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center secondary-content-colour m-0 text-center pb-2">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-center secondary-content-colour m-0 padding">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="button-style btn-lg" value="{% trans 'Set Password' %}">Confirm</button>
    </form>
{% endblock %}
