{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="secondary-content-colour text-center pb-2 m-0">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="secondary-content-colour text-center m-0 padding">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"  name="action" class="button-style btn-lg" value="{% trans 'change password' %}">Confirm</button>
        </form>
    {% endif %}
{% endblock %}
