@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


/* fixers and spacing */
select{
    text-overflow: ellipsis;
}

.navbar-nav { 
    margin-right: 3em;
}

.listing-image{ 
    width: 100%;
}

.absolute{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

#nav-right {
    position: absolute;
    right: 0;
    margin-right: 2em;
    
}

.padding{
    padding-bottom: 13em;
}

a:hover {
    text-decoration:none;
    color: black;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    z-index: 5;
}

/* body and element styles */
body {
    background-image: url(https://images.pexels.com/photos/1151243/pexels-photo-1151243.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

button, h1, h2, h3, h4 {
    font-family: 'Aboreto', cursive;
}

button {
    font-size: 1em;
}

.navbar.nav-line{
    display: inline-block;
}


label {
    color: white;
    font-size: 1.5em;
}

textarea, label, select, input {
    width: 100%;
    border: none;
    text-align: center;
}

button {
    padding: 0.5em;
    border: none;
}

a, button {
    color: white;
    text-decoration:none;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Images and containers */
.hero-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width:40em;
}

.image-container{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.search-container{
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -25px 0 0 -25px;
  }

.heart-container{
    position: absolute;
    top: 35%;
    left: 26%;
}

.listing-image{
    width: 100%;
}



.listinging-image-container {
    width: 100%;
    height: 25em;
    overflow: hidden;
    position: relative;
}
.details-image-container{
    overflow: hidden;
    margin: auto;
    background: black;
}


/* Colours */

.nav-colour{
    background-color: #9a5127;
}

.search-button{
    background-color: #c28339;
    color: black;
}

.secondary-content-colour{
    background-color: #CF9D7C;
}

.main-content-colour{
    background-color: #694F3F;
}

.button-style {
    background-color: #d58c45;
    color: white;
}
footer{
    background-color: white;
}

/* Icons */

.footer-icon{
    color:black;
    font-size: 1.2em;
    margin-right: 3em;
    margin-left: 3em;
}

.divider{
    font-size: 5em;
    color: black;
}

.heart-icon{
    font-size: 5em;
}

/* Notification */

#notification-status-message {
    height: 1.5em;
    width: 1.5em;
    color: green;
    border-radius: 50%;
    display: inline-block;
}

#notification-status-none{
    height: 1.5em;
    width: 1.5em;
    color: red;
    border-radius: 50%;
    display: inline-block;
}

.notification-icon{
    color: white;
    font-size: 1.5em;
}
  
.nav-item:hover {
    background: transparent;
    text-decoration: none;
    color:#F5BA93;
}
  

.nav-icon {
    font-size: 2em;
}

/* Media Screens */


@media only screen and (max-width: 1669px) {
    .display-extra-large {
        display: none;
    }
    .details-image-container img{
        height: 30em;
    }
}



@media only screen and (max-width: 599px) {
    body {
      background: black;
    }
    

    button, p, h3, h4 {
        font-size: 1em;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .padding {
        padding-bottom: 13em;
    }


  }

  
  @media only screen and (min-width: 1674px) {

    .form-control {
        font-size: 1em;
    }
   
    .qty_input, .decrease-qty, .increase-qty {
        font-size: 1em;
    }
    .search, .search-button {
        font-size: 1em;
    }
    .display-small {
        display: none;
    }
    .display-extra-large {
        display: block;
    }

    #notification-status-none {
        font-size: 2em;
    }


    #message-button {
        vertical-align:top;
        margin: 0;
    }

    .notification-status-none{
        font-size: 3em;
    }


    h1, h2 {
        font-size: 4em;
    }

    p {
        font-size: 2em;
    }

    #message-button{
        font-size: 2em;
    }

    .logo {
        font-size: 2em;
    }

    .button-style {
        font-size: 2em;
    }

    .nav-text {
        font-size: 2em;
    }

  }

  @media only screen and (min-width: 1800px){

    #message-button {
        vertical-align:top;
        margin: 0;
    } 
    select {
        font-size: 1em;
    }
     
    .list-group-item {
        font-size: 2em;
    }

    h1, h2 {
        font-size: 4em;
    }
    h3, h4, h5, h6 {
        font-size: 2em;
    }
    #message-button {
        vertical-align:top;
        margin: 0px;
    }

    #notification-status-none{
        font-size: 2em;
    }
    table, p, h3, h4, h5 {
        font-size: 2em;
    }

  }


/* Stripe Styling */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: white;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}
