{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid secondary-content-colour padding">
    <div class="row text-center">
        <div class="col-12">
            <h2>{{request.user}}'s Account</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'user_profiles:create_profile_info' %}">
                <div class="btn button-style btn-lg mb-2"><i class="fa-regular fa-address-card" arria-hidden="true"></i>Add/edit Profile</div>
            </a>
        </div>
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'checkout:orders' %}">
                <div class="btn button-style btn-lg mb-2"><i class="fa-solid fa-sort" arria-hidden="true"></i>Orders</div>
            </a>
        </div>
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'catalogue:get_favourite' %}">
                <div class="btn button-style btn-lg mb-2"><i class="fa-solid fa-heart" arria-hidden="true"></i>Favourites</div>
            </a> 
        </div>
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'account_reset_password' %}">
                <div class="btn button-style btn-lg mb-2">Change Password</div>
            </a>
        </div>
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'account_email' %}">
                <div class="btn button-style btn-lg mb-2">Change Email</div>
            </a>
        </div>
        {% if request.user.is_staff %}
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'catalogue:add_product' %}">
                <div class="btn button-style btn-lg mb-2">Add Product <i class="fa-solid fa-plus" arria-hidden="true"></i></div>
            </a>
        </div>
        <div class="col-12 col-md-3 mt-1">
            <a href="{% url 'catalogue:add_pricing' %}">
                <div class="btn button-style btn-lg mb-2"> Add Pricing <i class="fa-solid fa-plus" arria-hidden="true"></i></div>
            </a>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock %}
