{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row text-center">
        <div class="col-12">
            <h2>{{user_infomation}}'s Account</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="btn">Add details</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="btn">Edit details</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="btn">settings</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="btn"> View orders </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="btn">My store</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <div class="btn">Saved</div>
        </div>
    </div>
{% endblock %}