{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid text-center create-listing-form">
    <form method="POST" action="{% url 'user_profiles:profile_settings' %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <h5><strong>Select a profile picture to upload: </strong></h5>
                {{form.profile_picture}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5><strong>Select a background colour for your store </strong></h5>
                {{form.store_background}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn" href="{% url 'home' %}">Cancel</a>
                <button class="btn" type="submit">Submit Settings</button>
            </div>
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
        </div>
    </form>
</div>
{% endblock %}