{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid text-center secondary-content-colour mt-2 padding">
        <h2>Create Profile Information</h2>
        <form method="POST" action="{% url 'user_profiles:create_profile_info' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="col-12">
                    <button class="btn button-style btn-lg mb-2" type="submit">Submit</button>
            </div>
            <div class="col-12">
                <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'user_profiles:profile_view'%}">Back</a></button>
            </div>
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
            </div>
        </form>
    </div>
{% endblock %}