{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid text-center secondary-content-colour mt-2">
        <h2>Edit Profile Information</h2>
        <form method="POST" action="{% url 'user_profiles:edit_profile_info' usersInfomation.id %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div><i class="fa-brands fa-d-and-d divider"></i></div>
                <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'catalogue:all_products' %}"><i class="fa-solid fa-dice-d20"></i> Shop Now</a></button>
                <button type="submit" class="btn button-style btn-lg mb-2"> Submit </button>
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
            </div>
        </form>
    </div>
{% endblock %}