{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid secondary-content-colour mt-2 hv content">
    <div class="row text-center">
        <div class="col-12">
            <h2>{{request.user}}'s Account</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6 mt-3">
            <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'user_profiles:create_profile_info' %}"><i class="fa-regular fa-address-card"></i>Add/edit Profile</a></button>
        </div>
        <div class="col-6 mt-3">
            <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'user_settings:create_settings' %}"><i class="fa-solid fa-gear"></i></a></button>
           
        </div>
        <div class="col-6 mt-3">
            <button type="button" class="btn button-style btn-lg mb-2"><a href="#"><i class="fa-solid fa-sort"></i>Orders</a></button>
           
        </div>
        <div class="col-6 mt-3">
            <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'catalogue:get_favourite' %}"><i class="fa-solid fa-heart"></i>Favourites</a></button>
        </div>
        {% if request.user.is_staff %}
        <div class="col-6 mt-3">
            <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'catalogue:add_product' %}"> Add Product <i class="fa-solid fa-plus"></i></a></button>
        </div>
        <div class="col-6 mt-3">
            <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'catalogue:add_pricing' %}"> Add Pricing <i class="fa-solid fa-plus"></i></a></button>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock %}
