{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid border secondary-content-colour padding">
    <div class="row">
        <div class="col-md-6 col-sm-12 p-0 d-lg-none">
            <div class="overflow-hidden text-center image-container">
                {% load thumbnail %}
                <img src='{% thumbnail pricing.promo_image 600x600 crop %}' alt="{{ pricing.title }}" class="listing-image detail-image">
            </div>
        </div>
        <div class="col-12 p-0 d-none d-lg-block">
            <div class="overflow-hidden text-center image-container">
                {% load thumbnail %}
                <img src='{% thumbnail pricing.promo_image 1000x1000 crop %}' alt="{{ pricing.title }}" class="listing-image detail-image">
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 p-0 text-center position-relative">
            <div class="container-fluid">
                <button type="button" class="btn button-style btn-lg mt-2"><a href="{% url 'catalogue:all_pricings' %}"><i class="fa-solid fa-dice-d20"></i> All Boxes</a></button>
                <h3>{{pricing.title}} mystery box</h3>
                <h4>Description:</h4>
                <hr class="border">
                <div class="row">
                    <div class="col-12">
                        <label for="products-inside" class="sr-only">Products that could be in this box:</label>
                        <select name="prodcuts-inside">
                            <option value="#">Products that could be in this box:</option>
                            {% for product in product_catagory %}
                            <option value="#">{{product.title }}</option>
                            {% endfor %}
                        </select>   
                    </div>
                </div>
                <div class="bg-white container">
                    <p>{{princing.description}}</p>
                    <p>The contents of this box contains 10 products with the catagory {{pricing.title}}
                        click add to basket to checkout now! all orders come with a free mystery product from 
                        any catagory!
                    </p>
                    <span>Price: £{{pricing.price}}</span>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <button type="button" class="btn button-style btn-lg mt-2"><a href="{% url 'catalogue:catagory' cat=pricing.title %}">Products for this box</a></button>
                    </div>
                    {% if request.user.is_staff %}
                    <div class="col-12 col-sm-12">
                        <button type="button" class="btn button-style btn-lg"><a href="{% url 'catalogue:delete_pricing' pricing.id %}">Delete</a><span class="sr-only">delte this pricing box</span></button>
                    </div>
                    <div class="col-12 col-sm-12 mb-2">
                        <button type="button" class="btn button-style btn-lg mt-2"><a href="{% url 'catalogue:edit_pricing' pricing.id %}">Edit</a><span class="sr-only">edit this pricing bow</span></button>
                    </div>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                <div class="row">
                    <div class="col-12 mb-2">
                        <form class="form" action="{% url 'basket:add_to_basket' pricing.id %}" method="POST">
                            {% csrf_token %}
                                <div class="form-group">
                                    <span class="d-none"><input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ pricing.id }}" id="id_qty_{{ pricing.id }}"></span>
                                    <button type="submit" class="btn button-style btn-lg m-4" value="Add to Basket">Add Box To Basket</button>
                                </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Please create an account if you want to add items to your basket and checkout</p>
                        <button type="button" class="btn btn-secondary btn-lg mb-2"><a href="{% url 'account_signup' %}">Sign up</a></button>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-12 mb-2 text-center">
                <i class="fa-brands fa-d-and-d" arria-hidden="ture"></i><p class="text-muted">{{pricing.title}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}