{% extends "base.html" %}
{% load static %}
{% block content %}
<h2 class="text-center secondary-content-colour catagory-name m-0">Pricing boxes</h2>
    <div class="container-fluid padding">
        <div class="row">
            {% for pricing in pricings %}
            <div class="col-sm-12 col-md-4 mb-2 border image-container">
                <div class="card bg-dark text-white overflow-hidden" style="height: 40vh;">
                    <img class="card-img" src="{{pricing.promo_image.url}}" alt="Card image">
                    <div class="card-img-overlay">
                        <div class="text-center">
                            <h5 class="card-title bg-dark">{{pricing.title}}</h5>
                            <button type="button" class="btn button-style btn-lg"><a href="{% url 'catalogue:pricing_details' pricing.id  %}">View</a></button>
                        </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>
{% endblock %}