{% extends "base.html" %}
{% load static %}
{% block content %}
{% if searched %}
    <h2 class="text-center secondary-content-colour">Showing results for {{ searched }} </h2>
    {% for product in results %}
    <div class="container-fluid content-bg">
        <div class="row">
            <div class="col-md-3 col-sm-12 p-0">
                <div class="text-center overflow-hidden border image-container">
                    {% load thumbnail %}
                    <a href="{{ product.product_image.url }}" target="_blank">
                        <img src='{% thumbnail product.product_image 300x300 crop %}' alt="{{ product.title }}" class="listing-image">
                    </a>
                    <div class="col-12 secondary-content-colour p-0">
                        <p class="bg-white">{{product.title}}</p>
                        <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'catalogue:product_details' product.id  %}">View</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<h2 class="text-center secondary-content-colour">No results</h2>
{% endif%}
{% endblock%}