{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Tavern is a fantasy themed website that sells, fantasy themed drinks">
  <title>Tavern</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base-style.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'scripts/main-scripts.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/bdd19e9f82.js" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

</head>
<body>
  {% include 'includes/nav.html' %}
  <header>
    <div class="container-fluid d-none d-lg-block nav-colour">
      <div class="row text-center navbar">
        <a class=" medium-txt nav-item nav-text" href="{% url 'catalogue:all_pricings' %}">All</a>
        {% for catagories in promo %}
          <a  class="medium-txt nav-item name-of-catagory nav-text" href="{% url 'catalogue:pricing_details' catagories.id %}">{{catagories.title}}</a>
        {% endfor %}
      </div>
    </div>
  </header>
  <div id="message-popup" class="container-fluid text-center">
    <span class="d-none" id="message-area">
      {% if messages %}
      <ul class="list-group p-0">
        {% for message in messages %}
          <li class="list-group-item">{{message}}</li>
        </ul>
        {% endfor %}
      {% endif %}
    </span>
  </div>

  {% block page_hearder %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}

  {% block content %}
  {% endblock %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-5"></div>
    </div>
  </div>
  <footer class="fixed-bottom">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter footer-icon" aria-hidden="true"></i><span class="sr-only">twitter link</span></a></li>
      <li class="nav-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook footer-icon" aria-hidden="true"></i><span class="sr-only">facebook link</span></a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/" target="_blank" ><i class="fa-brands fa-linkedin footer-icon" aria-hidden="true"></i><span class="sr-only">linkedin link</span></a></li>
    </ul>
    <p class="text-center text-muted"><i class="fa-solid fa-beer-mug-empty"> <span class="sr-only">copyright info</span></i> © 2023 Tavern</p>
  </footer>
<!----bootstrap-footer----->
</body>

</html>