<div class="image-container container-fluid d-none d-md-block">
    <div class="row">
      <div class="col-12 p-0 text-center listing-image-container">
          <img src="https://images.nightcafe.studio/jobs/3dSYbOMOKEdYWTlLk3mn/3dSYbOMOKEdYWTlLk3mn--3--gvxry_4x.jpg?tr=w-1600,c-at_max" alt="" class="hero-image">
          <div class="search-container medium-txt">
            <form class="d-flex" method="GET" action="{% url 'catalogue:search_results'%}">
              <input class="form-control me-2" type="search" name="searched" placeholder="Search"
                  aria-label="search">
              <button class="btn search-button" type="submit">Search</button>
            </form>
          </div>
      </div>
    </div>
</div>
<!---------------------Bootstrap navbar------------------->