{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid text-center-colour mt-2 padding">
        <h2>Edit Pricing</h2>
        <span class="sr-only">edit pricing box form</span>
        <form method="POST" action="{% url 'catalogue:edit_pricing' pricing.id %}" class="form mb-2 text-center" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <div class="col-12">
                <button type="submit" class="btn button-style btn-lg mb-2">Submit</button>
            </div>
            <div class="col-12">
                <button type="button" class="btn button-style btn-lg mb-2"><a href="{% url 'catalogue:all_pricings'%}"></a>back</button>
            </div>
            {% if form.errors %}
                <ul>
                {% for error in form.errors %} 
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %} 
            </div>
        </form>
        <!------------------edit pricing form --------------------->
    </div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'scripts/form-scripts.js' %}"></script>
{% endblock %}